.main-head{

}
.sub-head1{
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-right: 15%;


}
.sub-head2{

    background-color: #446DFF;
    padding-top: 2%;
    padding-bottom: 1%;
    p{
        color: white;
        font-size: 25px;
        font-family:  sans-serif;

    }
}