.main-head{

}
.sub-head1{
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    padding-left: 15%;
    padding-right: 15%;


}
.sub-head2{

    background-color: #446DFF;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    p{
        color: white;
        font-size: 25px;
        font-weight: 100;
        letter-spacing: 1px;

    }
}