.main{
    padding-top: 3%;
    padding-left: 20%;
}

.card1 {
    width: 100%;
    height: 63%;
    border: #0EC098 1px solid;
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    margin-left: 25px;
    margin-top: 25px;
  }

.card {
    width: 100%;
    height: 60%;
    border: #ffffff 1px solid;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    margin-left: 25px;
    margin-top: 25px;

  }

  .card-red {
    width: 100%;
    height: 60%;
    border: #FD5160 1px solid;
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    margin-left: 25px;
    margin-top: 25px;

  }

  .card-blue {
    width: 100%;
    height: 60%;
    border: #7224FF 1px solid;
    background: #E8DDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    margin-left: 25px;
    margin-top: 25px;

  }